/* -- CSS RESET ------------------------------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  8 column grid
  Page width: 980px
  Column width: 84px
  Gutter width: 44px
  
  green: #00CB66
  blue: #0B99C4
  
*/


/* -- BASE STYLE ------------------------------ */

body {  
  background-color: #FFFAF8;
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #222;
  line-height: 1.4em;
}

a {
  text-decoration: none;
  color: #0B99C4;
}

a:hover {
  color: #00CB66;
}

h1, h2, h3, h4 {
  color: #333;
  font-weight: bold;
}

h1 {
  font-size: 40px;
  margin-bottom: 0.3em;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
}

p {
  margin: 1em 0;
}

#page {
  width: 980px;
  margin: 0 auto;
  position: relative;
}

#nav {
  width: 256px;
  position: absolute;
  top: 0;
  right: 0;
}

#nav .fixed {
  position: fixed;
  top: 0;
  padding-left: 44px;
  font-size: 12px;
}



#content {
  width: 724px;
  background: #06B296;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CB66', endColorstr='#0B99C4'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#00CB66), to(#0B99C4)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #00CB66,  #0B99C4); /* for firefox 3.6+ */ 
}

#content-inset {
  background-color: rgba(0,0,0,0.1);
  min-height: 300px;
  margin: 0 10px;
}



#content .card {
  position: relative;
  background: #fff;
  margin: 0 74px 44px 74px;
  margin-top: -160px;
  padding: 44px;
  -moz-border-radius:    6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow:    0px 5px 10px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
  
}

